body {
    background-color: #202124;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #urllist {
    /* color: #0b0a0a; */
    border: 1px solid #202124;
    border-radius: 3px;
    text-align: left;
    font-family: "Tahoma";
    font-size: 18px;
    font-style: bold;
    color: #f5f1f1;
    font-family: "Arial Regular";
  }
  
  a:link {
    color: #70a0fb;
    font-family: "Arial Regular";
    font-size: 18px;
  }
  
  a:visited {
    color: #b682de;
    font-family: "Arial Regular";
    font-size: 18px;
  }
  #searchbox {
    border-radius: 60px;
    padding: 12px;
    width: 450px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    min-width: 200px;
    transition: box-shadow 0.3s, border 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }
  
  h1 {
    padding: 15px;
    border: solid 1px #202124;
    border-radius: 4px;
    min-width: 200px;
    transition: box-shadow 0.3s, border 0.3s;
    font-size: 48px;
    font-family: "Lucida Console";
    color: #f5f1f1;
  }
  
  #responsesize {
    color: #f5f1f1;
    font-family: "Arial Regular";
    font-size: 18px;
  }